@charset "UTF-8";

/* 공통 */
*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
[class*="img_"] {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
[class*="img_"]::after {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	font-size: 1.6rem;
	color: #fff;
	opacity: 0; 
}
[class*="img_"]:hover::after {
	opacity: 0.8;
	transition: all .5s ease-in-out;
}

/* 텍스트 처리 */
.img_1::after {
	content: 'Tokyo';
}
.img_2::after {
	content: 'Home';
}
.img_3::after {
	content: 'Mountain';
}
.img_4::after {
	content: 'Valley';
}
.img_5::after {
	content: 'Dessert';
}
.img_6::after {
	content: 'Watch';
}
.img_7::after {
	content: 'Buildings';
}
.img_8::after {
	content: 'Fruits';
}
.img_9::after {
	content: 'Forest';
}
.img_10::after {
	content: 'Flight';
}
.img_11::after {
	content: 'Desert';
}
.img_12::after {
	content: 'Snow';
}

/* 이미지 처리 */
.img_1 {
	background-image: url(./images/image-1.png);
}
.img_2 {
	background-image: url(./images/image-2.png);
}
.img_3 {
	background-image: url(./images/image-3.png);
}
.img_4 {
	background-image: url(./images/image-4.png);
}
.img_5 {
	background-image: url(./images/image-5.png);
}
.img_6 {
	background-image: url(./images/image-6.png);
}
.img_7 {
	background-image: url(./images/image-7.png);
}
.img_8 {
	background-image: url(./images/image-8.png);
}
.img_9 {
	background-image: url(./images/image-9.png);
}
.img_10 {
	background-image: url(./images/image-10.png);
}
.img_11 {
	background-image: url(./images/image-11.png);
}
.img_12 {
	background-image: url(./images/image-12.png);
}

/* mobile */
@media screen and (max-width: 640px) {
	[class*="img_"] {
		width: 50%;
		padding-bottom: 50%;
	}
}

/* tablet */
@media screen and (min-width: 641px) and (max-width: 959px) {
	[class*="img_"] {
		width: 33.333%;
		padding-bottom: 33.333%;
	}
}

/* desktop */
@media screen and (min-width: 960px) {
	[class*="img_"] {
		width: 25%;
		padding-bottom: 25%;
	}
}